<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandma's Recipes</title>
</head>
<body>
    <h1>Grandma's Recipes</h1>
    <h2>Welcome to my recipes site!</h2>

    <table>
        <thead>
            <tr>
                <td>Name of recipe</td>
                <td>Ingredients</td>
                <td>Directions</td>
            </tr>
        </thead>

        <tbody>
             
        </tbody>
    </table>
</body>
</html>